.wrapper {
  padding-bottom: var(--spacing-xl);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--spacing-sm);
}

.header {
  padding: var(--spacing-md) 0;
  text-align: justify;
}

.title {
  font-size: 3rem;
  color: var(--color-primary-blue);
  font-weight: var(--semibold);
}

.item:last-child {
  border-bottom: none;
}

.questionBtn {
  width: 100%;
  text-align: left;
  padding: var(--spacing-sm) var(--spacing-md);
  background: var(--color-bg-white);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  column-gap: var(--spacing-sm);
  align-items: center;
  transition: background 0.2s;
  border-radius: var(--radius-card);
  font-family: var(--font-family);
}

.open {
    background-color: var(--color-bg-light-gray);
}

.questionBtn:hover {
  background-color: #f9f9f9;
}

.questionText {
  font-size: 1.1rem;
  font-weight: var(--semibold);
  color: var(--color-primary-blue);
}

.iconRotated {
  transform: rotate(180deg);
}

/* Answer Section */
.answerWrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: var(--color-bg-white);
}

.answerWrapper.open {
  max-height: 100rem; /* Arbitrary large height */
  transition: max-height 0.3s ease-in;
}

.answerContent {
  padding: var(--spacing-sm) var(--spacing-md);
  color: var(--color-text-dark);
  font-size: 1rem;
}