/* Container Utility */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--spacing-sm);
}

/* --- Hero Section --- */
.heroContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-lg);
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--spacing-sm);
}
.hero {
  padding: var(--spacing-md) 0;
  text-align: justify;
}

.textWrapper h1 {
  font-size: 3rem;
  color: var(--color-primary-blue);
  font-weight: var(--semibold);
  text-align: left;
}

.textWrapper h2 {
  font-size: 2rem;
  color: var(--color-primary-red);
  font-weight: var(--semibold);
  text-align: left;
}

.textWrapper ul {
  margin-bottom: var(--spacing-sm);
  padding-left: var(--spacing-sm);
}

.textWrapper ul>li {
  color: var(--color-text-dark);
  max-width: 60ch;
  margin: 0 auto;
  font-size: 1.1rem;
  display: list-item;
  list-style-type: disc;
}

.textWrapper p {
  color: var(--color-text-light);
  max-width: 60ch;
  margin: 0 auto;
  font-size: 1.1rem;
}