/* Container Utility */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--spacing-sm);
}

/* --- Section Utilities --- */
.section {
  padding: var(--spacing-lg) 0;
}

.section h1 {
  font-size: 2.5rem;
  font-weight: var(--semibold);
  color: var(--color-primary-blue);
  margin-bottom: var(--spacing-sm);
}

.section p {
  font-size: 1.1rem;
  color: var(--color-text-light);
  line-height: 1.5;
  text-align: justify;
}


.resultsTable {
  overflow-x: auto; /* Responsive scroll for mobile */
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  margin-top: var(--spacing-sm);
  border-radius: var(--radius-card);
  border: 1px solid var(--color-bg-light-gray);
}

.resultsTable th {
  text-align: left;
  padding: var(--spacing-xs);
  background-color: var(--color-bg-light-gray);
  color: var(--color-primary-blue);
  font-weight: var(--semibold);
  font-size: 0.9rem;
}

/* Table Body */
.resultsTable td {
  font-size: 0.8rem;
  padding: var(--spacing-xs);
  vertical-align: middle;
  color: var(--color-text-dark);
  border-bottom: 1px solid var(--color-bg-light-gray);
}

.resultsTable tr:last-child td {
  border-bottom: none;
}

.resultsTable tr:hover {
  background-color: #fafafa;
}

.DownloadBtn:hover {
    cursor: pointer;
    color: var(--color-primary-blue);
    font-weight: var(--semibold);
}