/* Container Utility */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--spacing-sm);
}

/* --- Hero Section --- */
.heroContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-lg);
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--spacing-sm);
}
.hero {
  padding: var(--spacing-md) 0;
  text-align: justify;
}

.textWrapper h1 {
  font-size: 3rem;
  color: var(--color-primary-blue);
  font-weight: var(--semibold);
}

.textWrapper p {
  color: var(--color-text-light);
  max-width: 60ch;
  margin: 0 auto;
  font-size: 1.1rem;
}

/* --- Content Sections --- */
.section {
  padding: var(--spacing-lg) 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-mdm);
  margin-bottom: var(--spacing-mdm);
}

.sectionTitle {
  font-size: 3rem;
  color: var(--color-primary-blue);
  text-align: center;
  font-weight: var(--semibold);
}

.sectionSubTitle {
  font-size: 1.2rem;
  color: var(--color-text-light);
  margin-bottom: var(--spacing-mdm);
  text-align: center;
  font-weight: var(--medium);
}

.mvCard {
  background: var(--color-primary-blue-light);
  padding: var(--spacing-md);
  border-radius: var(--radius-card);
}

.mvCard h3 {
  color: var(--color-primary-blue);
  margin-bottom: var(--spacing-sm);
  font-size: 2rem;
  font-weight: var(--semibold);
}

.mvCard p {
  color: var(--color-text-light);
  font-size: 1.05rem;
  text-align: justify;
}

/* --- Values Section --- */
.valuesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-mdm);
}

.valueItem {
  text-align: left;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--radius-card);
  box-shadow: 0 0 1rem var(--color-bg-light-gray);
}


.valueItem h4 {
  color: var(--color-primary-blue);
  font-weight: var(--semibold);
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
  text-align: left;
}

.valueItem p {
  font-size: 0.9rem;
  color: var(--color-text-light);
  text-align: justify;
}


/* --- Board of Directors --- */
.TeamSection {
    margin: var(--spacing-xxl) 0 var(--spacing-lg) 0;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--spacing-mdm);
  margin-top: var(--spacing-sm);
}

.teamMember {
  text-align: left;
}

.memberImage {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #ddd;
  border-radius: var(--radius-card);
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}

.memberName {
  font-weight: var(--semibold);
  color: var(--color-primary-blue);
  font-size: 1.2rem;
}

.memberRole {
  color: var(--color-text-light);
  font-size: 0.9rem;
}