/* Container Utility */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--spacing-sm);
}

/* --- Section Utilities --- */
.section {
  padding: var(--spacing-lg) 0;
}

.section h1 {
  font-size: 2.5rem;
  font-weight: var(--semibold);
  color: var(--color-primary-blue);
  margin-bottom: var(--spacing-sm);
}

.section p {
  font-size: 1.1rem;
  color: var(--color-text-light);
  line-height: 1.5;
  text-align: justify;
}

.notice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--spacing-sm);
  border-radius: var(--radius-card);
  align-items: center;
  margin: var(--spacing-xs) 0 var(--spacing-lg) 0;
}

.linkButton {
  margin-top: var(--spacing-smm);
  margin-left: auto;
  margin-right: auto;
  background: var(--color-primary-red);
  width: 100%;
  color: white;
  padding: var(--spacing-sm) var(--spacing-md);
  border: none;
  border-radius: var(--radius-card);
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: var(--medium);
  cursor: pointer;
  text-align: center;
}

.linkButton:hover {
  font-weight: var(--semibold);
}

.do_donts {
  margin: var(--spacing-md) 0 var(--spacing-lg) 0;
}

.do_donts h2 {
  font-size: 2rem;
  color: var(--color-primary-red);
  font-weight: var(--semibold);
}

.do_donts li {
    font-size: 1rem;
    color: var(--color-text-dark);
    background-color: var(--color-bg-light-gray);
    margin: var(--spacing-sm) 0;
    padding: var(--spacing-sm);
    border-radius: var(--radius-card);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-xs);
}