:root {
  /* Colors */
  --color-primary-red: #D32B40;
  --color-primary-blue: #081F9C;
  --color-primary-blue-light: #E5F3FF;
  --color-text-dark: #363940;
  --color-text-light: #5c5c5c;
  --color-bg-white: #FFFFFF;
  --color-bg-light-gray: #E6E7EB;

  /* Font Weights */
  --thin: 100;
  --extralight: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --black: 900;
  
  /* Spacing & Layout */
  --container-width: 80rem; 
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-smm: 1.5rem;
  --spacing-md: 2rem;
  --spacing-mdm: 3rem;
  --spacing-lg: 4rem;
  --spacing-xl: 6rem;
  --spacing-xxl: 7rem;
  --radius-card: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif; 
  color: var(--color-text-dark);
  background-color: var(--color-bg-white);
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}