.headerWrapper {
  border-bottom: 1px solid #eee;
  background: white;
}
.container {
  max-width: var(--container-width);
  margin: 1rem auto;
  padding: var(--spacing-sm) var(--spacing-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #E7E7E7;
  border-radius: var(--radius-card);
}
.logo {
  color: var(--color-primary-blue);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.nav { display: none; }
.nav ul {
  display: flex;
  gap: var(--spacing-smm);
  font-size: 1.2rem;
  font-weight: var(--medium);
  color: var(--color-primary-blue);
}
.nav ul li:hover {
    text-decoration: underline;
    text-underline-offset: var(--spacing-xs);
    text-decoration-thickness: 0.2rem;
    text-decoration-color: var(--color-primary-red);
    cursor: pointer;
    font-weight: var(--semibold);
}
@media (min-width: 768px) { .nav { display: block; } }